<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= csrf_meta_tag %>
  <%= render 'layouts/stylesheets'%>
<body>
	<div class="container">
		<header>
			<%= render 'layouts/header'%>
		</header>
		<section class="round">
			<%= yield %>
		</section>	
	</div>
	<%= render 'layouts/footer'%>
	<%= debug(params) if Rails.env.development?%>
</body>
</html>
